﻿
@{
  
    ViewBag.Tile = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
       

        This will be the home page for Administrator function <br />
        
        Current time: @ViewData["CurrentTime"]  <br />
    </div>
</body>
</html>
